.git
.gitignore
.github
node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.next
**/.next
out
**/out
.turbo
**/.turbo
.cache
**/.cache
dist
**/dist
build
**/build
coverage
**/coverage
.env
.env.*
!**/.env.example
!**/.env.*.example
*.log
logs
tmp
temp
*.tmp
.DS_Store
Thumbs.db
.vscode
.idea
.vercel
